{% load static %}
{% include 'global/partials/_head.html' %}
{% include 'global/partials/_navbar.html' %}




<body>
    

<main class="content">
    <div class="container-fluid">
        {{ calendar }} <!-- Calendário renderizado aqui -->
    </div>
    <br>
    <br>
    {% block content %}
    <div class="button-container-2">
        <a class="btn" href="{% url 'projetosolidario:calendar' %}?{{ prev_month }}">Mês Anterior</a>
        <a class="btn" href="{% url 'projetosolidario:criarevento' %}">Novo Evento</a>
        <a class="btn" href="{% url 'projetosolidario:calendar' %}?{{ next_month }}">Próximo Mês</a>
        
    </div>
    {% endblock %}
    
</main>
</body>