asgiref==3.8.1
Django==5.1
django-cors-headers==4.4.0
django-ratelimit==4.1.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
Faker==28.4.1
gunicorn==23.0.0
packaging==24.1
pillow==10.4.0
psycopg==3.2.3
pycountry==24.6.1
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-http-client==3.3.7
sendgrid==3.6.5
sendgrid-django==4.2.0
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
