<title>{{title}}</title>

{% if user.is_authenticated %}
<header class="header">

  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'projetosolidario:home' %}">ES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="menu-link" href="{% url 'projetosolidario:empresa' %}">Empresa</a>
          </li>
          <li class="nav-item">
            <a class="menu-link" href="{% url 'projetosolidario:eventos' %}">Evento</a>
          </li>
          <li class="nav-item">
            <a class="menu-link" href="{% url 'projetosolidario:calendar' %}">Calendario</a>
          </li>
          <li class="nav-item"></li>
          <a class="menu-link" href="{% url 'projetosolidario:sobrenos' %}">Sobre Nós</a>
          </li>

          <li class="nav-item dropdown">
            <a class="menu-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'projetosolidario:perfil' %}">Meu Perfil</a></li>
              <li><a class="dropdown-item" href="{% url 'projetosolidario:logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


{% else %}
<header class="header">

  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'projetosolidario:index' %}">ES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

      </div>
    </div>
  </nav>
</header>

{% endif %}