{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include 'global/partials/_head.html' %}
</head>
<title>{{title}}</title>



<body>
    {% include 'global/partials/_navbar.html' %}
  
    <main class="content">
    {% block content %}
    <div class="form-wrapper">
      <h2>Cadastro de Eventos</h2>
      
      <form 
        action="{{ form_action_evento }}"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}      
        
        <div class="form-content">
          {% for field in form_evento %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              {{ field.errors }}
  
              {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
              {% endif %}
            </div>
          {% endfor %}
          
          <div class="form-group">
            <label for="id_endereco">Caso o endereço selecionado não exista, crie no botão abaixo</label>
            <a href="{% url 'projetosolidario:criarendereco' %} "button class="btn" type="submit">Criar Novo Endereço</button>  
            </a>            
        </div>
  
        {% if form.non_field_errors %}
          <div class="form-content">
            <div class="form-group">
              <div class="message error">
                {{ form.non_field_errors }}
              </div>
            </div>
          </div>
        {% endif %}
  
        <div class="contact-links">
       
          <button class="btn btn-link" type="submit">Enviar</button>
          <button onclick="history.back()" class="btn btn-link" >Voltar</button>
       
      </div>
  
      </form>
    </div>
    {% endblock content %}
    </main>
</body>
{% include 'global/partials/_footer.html' %}
</html>
