{% include 'global/partials/_head.html' %}
</head>
<body>
  {% include 'global/partials/_navbar.html' %}

<main class="content">
    {% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            <p>Nome do evento {{eventos.nome_eventos}}</p>




        </h1>
        <p><b>ID do evento: </b>{{ eventos.id }} </p>
        <p><b>Nome do Organizador: </b>{{ eventos.nome_organizador }} </p>
        <p><b>Telefone: </b>{{ eventos.telefone }} </p>
        <p><b>E-mail: </b> {{ eventos.email }}</p>
        <p><b>Data do evento: </b> {{ eventos.data_evento }}</p>
        <p><b>Tipo do evento: </b> {{ eventos.get_tipo_evento_display }}</p>
        <p><b>Endereço do Evento: </b> {{ eventos.endereco.rua }},{{ eventos.endereco.bairro }}, {{ eventos.endereco.cidade }}</p>
        <p><b>Limite do evento: </b> {{ eventos.limite_evento }}</p>
        <p><b>Empresa que Auxiliará no Evento: </b> {{ eventos.empresa.razao_social }}</p>



        <div class="contact-links">
            <a class="btn btn-link" href="{% url 'projetosolidario:updateevento' eventos.id  %}">Atualizar</a>

            <form action="{% url 'projetosolidario:deletevento' eventos.id %}" method="POST">
                    {% csrf_token %}
                    {% if confirmation == 'no' %}
                <input type="hidden" name="confirmation" value="yes">
                <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
                {% else %}
                    <button class="btn btn-link btn-delete" type="submit">Delete</button>
                {% endif %}
            </form>
            

            </form>
            <button onclick="history.back()" class="btn btn-link" >Voltar</button>

        </div>
    </div>


    {% endblock content %}

</main>

{% include 'global/partials/_footer.html' %}
