{% include 'global/partials/_head.html' %}
</head>
<body>
  {% include 'global/partials/_navbar.html' %}
<main class="content">



    {% block content %}




        <p><b>Razão Social:</b> {{empresa.razao_social}}</p>

        <p><b>Nome Fantasia:</b> {{empresa.nome_fantasia}}</p>
        <p><b>CNPJ:</b> {{empresa.cnpj}}</p>
        <p><b>TELEFONE:</b> {{empresa.telefone}}</p>
        <p><b>E-MAIL:</b> {{empresa.email}}</p>


        <div class="contact-links">
            <a class="btn btn-link" href="{% url 'projetosolidario:updatempresa' empresa.id %}">Atualizar</a>
            

            <form action="{% url 'projetosolidario:deletempresa' empresa.id %}" method="POST">
              
                {% csrf_token %}
                {% if confirmation == 'no' %}
          <input type="hidden" name="confirmation" value="yes">
          <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
        {% else %}
          <button class="btn btn-link btn-delete" type="submit">Delete</button>
        {% endif %}

            </form>
            <button onclick="history.back()" class="btn btn-link" >Voltar</button>

            
        </div>

    </div>

</main>

{% endblock content %}

{% include 'global/partials/_footer.html' %}