{% include 'global/partials/_head.html' %}
</head>
<body>
  {% include 'global/partials/_navbar.html' %}
<main class="content">



    {% block content %}
    <div class="single-contact">
        <h1 class="single-contact-name">
            <p>Razão Social e Nome Fantasia: <br>{{empresa.razao_social}} {{empresa.nome_fantasia}}</p>




        </h1>

        <p><b>ID:</b> {{empresa.id}}</p>
        <p><b>CNPJ:</b> {{empresa.cnpj}}</p>
        <p><b>TELEFONE:</b> {{empresa.telefone}}</p>
        <p><b>E-MAIL:</b> {{empresa.email}}</p>


        <div class="contact-links">
            <a class="btn btn-link" href="{% url 'projetosolidario:updatempresa' empresa.id %}">Atualizar</a>

            <form action="{% url 'projetosolidario:deletempresa' empresa.id %}" method="POST">
                {% csrf_token %}
                {% if confirmation == 'no' %}
          <input type="hidden" name="confirmation" value="yes">
          <button class="btn btn-link btn-delete" type="submit">Confirma?</button>
        {% else %}
          <button class="btn btn-link btn-delete" type="submit">Delete</button>
        {% endif %}

            </form>

            
        </div>

    </div>

</main>

{% endblock content %}

{% include 'global/partials/_footer.html' %}