{% include 'global/partials/_head.html' %}
{% include 'global/partials/_navbar.html' %}



<main class="content">
  <section>
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                
              </li>
            </ol>

            <!-- para pegar o ID use {{user.id}} -->

            {% if usuario.sexo == 'F' %}
              <h3 class="my-4" style="text-align: center;">Seja Bem-Vinda {{ user.first_name }}</h3>
            {% elif usuario.sexo == 'L' %}
              <h3 class="my-4" style="text-align: center;">Seja Bem-Vindx {{ user.first_name }}</h3>
            {% elif usuario.sexo == 'P' %}
              <h3 class="my-4" style="text-align: center;">Olá {{ user.first_name }}</h3>
            {% else %}
              <h3 class="my-4" style="text-align: center;">Seja Bem-Vindo {{ user.first_name }}</h3>
            {% endif %}
          </nav>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-5">
            <div class="card-body text-center d-flex justify-content-center">
              <!-- Exibir imagem de perfil arredondada -->
              <div>
                {% if usuario.imagem_perfil %}
                  <img src="{{ usuario.imagem_perfil.url }}" alt="Imagem de perfil de {{ user.first_name }} {{ user.last_name }}" class="rounded-circle img-fluid" style="width: 150px; height: 150px; object-fit: cover;" />
                {% endif %}
              </div>
            </div>
          </div>

          <!-- Redes sociais -->
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">Web Site</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">Twitter</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">Instagram</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">Facebook</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Nome Completo</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.email }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Telefone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ usuario.telefone }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Data de Nascimento</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ usuario.data_nascimento }}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{ user.username }}</p>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% include 'global/partials/_footer.html' %}
