:root {
    --spacing: 1.5rem;
    --link-dark-color: rgb(0, 83, 134);
    --link-light-color: rgb(156, 217, 255);
    --clr-white: rgb(245, 245, 255);
    --clr-black: rgb(0, 0, 30);
    --clr-light-gray: rgb(220, 247, 10%);
    --clr-dark-shadow-5: rgba(0, 0, 10, 5%);
    --clr-dark-shadow-10: rgba(0, 0, 10, 10%);
    --clr-dark-shadow-20: rgba(0, 0, 10, 20%);
    --main-page-width: 120rem;
    --table-min-width: 60rem;
    --biggest-font-size: 5rem;
    --big-font-size: 3.2rem;
    --medium-font-size: 2.4rem;
    --small-font-size: 1.6rem;
    --smaller-font-size: 1.4rem;
    --smallest-font-size: 1.2rem;
    --transition-fast: 300ms;
    --default-border-radius: 4px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: max-content;
    min-width: max-content;
}
@media (min-width: 769px) {
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: var(--small-font-size);
    color: var(--clr-black);
    -webkit-font-smoothing: antialiased;
    background: var(--clr-light-gray);
    overflow-x: hidden;
    min-width: 150lvh;
    overflow-x: auto;
    padding-bottom: 50px;


}
}

footer {
    position: fixed; 
    width: 100%;
    height: auto;
    background-color: #f8f9fa; 
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Exemplo de sombra */
    text-align: center; /* Centralizar o texto */
    padding: 2px 0; /* Espaçamento interno */
}

img,
svg {
    display: block;
    max-width: 100%;
}

.header {
    background: linear-gradient(to right, #8c52ff, #5ce1e6);
    padding: var(--spacing);
    box-shadow: 0 5px 10px 2px var(--clr-dark-shadow-20);
    z-index: 1;
    position: relative;
    text-align: center;
}

.header-heading {
    font-size: var(--biggest-font-size);
}

.header-link,
.menu-link,
.table-link,
.pagination .step-links a {
    text-decoration: none;
    transition: filter var(--transition-fast) ease-in-out, color var(--transition-fast) ease-in-out;
}

.header-link,
.menu-link,
.pagination .step-links a {
    color: linear-gradient(to right, #8c52ff, #5ce1e6);
}

.menu {
    margin: var(--spacing);
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-link {
    padding: auto;

    border-radius: var(--default-border-radius);
}

.menu-link:hover {
    background: var(--clr-dark-shadow-10);
}

.content {
    max-width: var(--main-page-width);
    margin: calc(var(--spacing) * 2) auto;
    padding: var(--spacing);
    background: linear-gradient(to right, rgba(140, 82, 255, 0.2), rgba(92, 225, 230, 0.2));

    box-shadow: 2px 2px 5px var(--clr-dark-shadow-20);
    border-radius: var(--default-border-radius);
}

.responsive-table {
    width: 100%;
    overflow-x: auto;
}

.contacts-table {
    width: 100%;
    min-width: var(--table-min-width);
    border-collapse: collapse;
}

.table-caption {
    font-size: var(--medium-font-size);
    font-weight: bold;
    padding: var(--spacing);
}

.table-row {
    text-align: left;
    transition: background-color var(--transition-fast) ease-in-out;
}

.table-row:nth-of-type(2n) {
    background: var(--clr-dark-shadow-5);
}

.table-row:not(.table-row-header):hover {
    background: var(--clr-dark-shadow-10);
}

.table-row-header {
    background: var(--clr-light-gray);
    color: var(--clr-black);
}

.table-cel,
.table-header {
    padding: var(--spacing);
}

.table-link {
    color: var(--link-dark-color);
}

.table-link:hover {
    color: var(--clr-black);
}

@media (min-width: 600px) {
    .single-contact {
        max-width: 80%;
        margin: calc(var(--spacing) * 2) auto;
    }
}

.single-contact h1,
.single-contact p {
    margin: 1rem 0;
}

.pagination {
    margin-top: var(--spacing);
    display: flex;
    justify-content: center;
    padding: calc(var(--spacing) * 0.8);
}

.search {
    display: flex;
    justify-content: center;
}

.search-input {
    font-size: var(--medium-font-size);
    padding: 1rem 2rem;
    width: 100%;
    max-width: 32rem;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--link-light-color);
}

.search-input:focus {
    box-shadow: 0 0 15px var(--link-light-color);
}

.message {
    max-width: 600px;
    margin: calc(var(--spacing) * 2) auto;
    padding: var(--spacing);
    text-align: center;
    border-radius: var(--default-border-radius);
    font-size: var(--smaller-font-size);
}

.message.success {
    background: rgba(0, 255, 0, 0.3);
    border: 1px solid rgba(0, 255, 0, 0.9);
}

.message.error {
    background: rgba(255, 0, 0, 0.3);
    border: 1px solid rgba(255, 0, 0, 0.9);
}

.message.warning {
    background: rgba(255, 255, 0, 0.3);
    border: 1px solid rgba(255, 255, 0, 0.9);
}

.form-wrapper {
    max-width: 60rem;
    margin: var(--spacing) auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: var(--spacing);
}


.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: var(--spacing);
    align-items: flex-start;
}

.form-group p,
.errorlist {
    margin: 1em 0;
}

.errorlist {
    list-style: none;
    font-size: var(--smaller-font-size);
    color: tomato;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 1rem;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--link-dark-color);
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    outline: none;
    box-shadow: 0 0 5px var(--link-dark-color);
}

.btn {
    background-color: var(--link-dark-color);
    color: var(--clr-white);
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: var(--default-border-radius);
    cursor: pointer;


}



.btn:hover {
    filter: brightness(90%);
}

.btn:focus,
.btn:active {
    filter: brightness(80%);
    box-shadow: 0 0 5px var(--link-dark-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-nav {
    list-style: none;
    display: flex;
    align-items: auto;
}

.navbar-brand {
    font-size: 20px;
    object-fit: cover;
}

.nav-item {
    margin-left: 15px;
}

.nav-link {
    color: rgb(28, 30, 131);
    font-size: 18px;
    padding: 8px 12px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: var(--default-border-radius);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: var(--default-border-radius);
    list-style: none;
    padding: 10px 0;
}

.dropdown-item {
    padding: 8px 16px;
    color: #333;
}

.dropdown-item:hover {
    background-color: #8c52ff;
    color: white;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}


@media (max-width: 768px) {
    .navbar-brand {
        font-size: 24px; 
    }

    .nav-link {
        font-size: 20px; /* Aumenta o tamanho da fonte */
        padding: 12px 16px; /* Aumenta o padding */
    }

    .navbar {
        padding: 15px 20px; /* Aumenta o padding da navbar */
    }
}


.form-content{

    display: flexbox;
}



.contact-links {
    margin-block: calc(var(--small-font-size) * 2);
    display: flex;
    align-items: center;
    gap: 0 var(--spacing);
}

.btn-link {
    font-size: var(--small-font-size);
    text-decoration: none;
    font-weight: bold;
    padding: 1rem;
    display: block;
    line-height: var(--small-font-size);
}

.btn-delete {
    background: tomato;
}


@media (min-width: 769px) {
.calendar th {
    padding: 15px;
    text-align: center;
    font-size: 16px;

    background-color: #69d8dc;
    /* Cor de fundo para cabeçalhos */
    border-bottom: 2px solid #ddd;
  
}

.calendar td {
    width: 14.28%;
    /* Divide igualmente as colunas */
    height: 80px;
    /* Aumenta a altura das células */
    padding: 10px;
    text-align: left;
    /* Alinhamento do texto à esquerda */
    vertical-align: top;
    /* Alinhamento vertical no topo */
    border: 1px solid #ddd;
    /* Borda clara */
    transition: background-color 0.3s ease;
    /* Animação de hover */
}

.calendar td.has-event {
    background-color: #e7f3ff;
    /* Azul claro para células com eventos */
}


.calendar td:hover {
    background-color: #f7f7f7;
    /* Cor de fundo ao passar o mouse */
}

.month {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

/* Estilos para a data */
.date {
    font-size: 12px;
    font-weight: bold;
}

/* Lista de eventos dentro das células */
.calendar ul {
    list-style: none;
    /* Remove marcadores da lista */
    padding: 5px 0 0 0;
    /* Espaçamento superior */
    margin: 0;
    text-align: center;
}

/* Estilo dos links de eventos */
.calendar a {
    color: #0d0d7f;
    text-decoration: none;
}

.calendar a:hover {
    text-decoration: underline;
    /* Sublinhado ao passar o mouse */
}

form-calendar {
    max-width: 600px;
    /* Define uma largura máxima para o formulário */
    margin: 20px auto;
    /* Centraliza o formulário na página */
    padding: 20px;
    border: 1px solid #ddd;
    /* Borda leve ao redor do formulário */
    border-radius: 8px;
    /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    background-color: #fff;
    /* Fundo branco */
}
}

/* Estilos para a tabela do formulário */
table {
    width: 100%;
    /* Ocupa toda a largura disponível */
    border-collapse: collapse;
    /* Remove espaços entre células */
}

/* Estilos para as células do formulário */
table td {
    padding: 10px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto das células */
}

/* Centraliza o texto dos rótulos do formulário */
label {
    text-align: right;
    /* Alinhamento à direita */
    display: block;
    /* Força o label a ser exibido em uma linha separada */
    margin-bottom: 5px;
    /* Espaçamento inferior */
}

/* Estilos para os campos de entrada */
input,
select,
textarea {
    width: 90%;
    /* Largura dos campos de entrada */
    padding: 10px;
    border: 1px solid #ddd;
    /* Borda leve */
    border-radius: 4px;
    /* Cantos levemente arredondados */
    font-size: 14px;
    margin-bottom: 10px;
    /* Espaço entre os campos */
}

/* Estilos para as mensagens de erro */
.alert-danger {
    color: #721c24;
    /* Cor do texto */
    background-color: #f8d7da;
    /* Cor de fundo */
    border-color: #f5c6cb;
    /* Cor da borda */
    padding: 10px;
    margin-bottom: 15px;
    /* Espaçamento inferior */
    border-radius: 4px;
    /* Cantos levemente arredondados */
}

/* Estilos para o contêiner dos botões */
.button-container {
    display: flex;
    /* Usa flexbox para o alinhamento */
    justify-content: center;
    /* Centraliza os botões */
    gap: 15px;
    /* Espaço entre os botões */
    margin-top: 20px;
    /* Espaçamento superior */
}

/* Estilos para os botões */
.btn {
    background-color: #17a2b8;
    /* Cor de fundo */
    color: white;
    /* Cor do texto */
    padding: 10px 20px;
    /* Espaçamento interno */
    text-decoration: none;
    /* Remove sublinhado */
    border-radius: 8px;
    /* Cantos arredondados */
    border: none;
    /* Remove a borda */
    font-size: 14px;
    /* Tamanho da fonte */
    cursor: pointer;
    /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s ease;
    /* Animação de hover */
}

.btn:hover {
    background-color: #138496;
    /* Cor de fundo ao passar o mouse */
}

.button-container-2 {
    display: flex;
    justify-content: center; /* Alinha os botões ao centro */
    gap: 300px; /* Espaçamento entre os botões */
    margin: auto; /* Margem para espaçamento */
  }

  /* Estilos para os botões commit */
  .button-container-2 .btn {
    background-color: #17a2b8;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Animação de hover */
  }

  .button-container .btn:hover {
    background-color: #138496; /* Cor ao passar o mouse */
  }

  
